body {
	background: #2a2a2a;
}

#outer {
	max-width: 1200px;
	margin: 0 auto;
	border: 1 px solid white;
}

#polar-graph {
	width: 38%;
}

#polar-graph-paper {
	background: #111;
	border-radius: 4px;
}

#passes {
	width: 58%;
	float: right;
}

.in-view {
	color: #aaaa00;
}

a {
	color: #aaa;
}

.in-view a {
	color: #aaaa00;
}

.note {
	font-style: italic;
	color: #aaa;
}

.section {
	background-color: #444;
	padding: 12px;
	border-radius: 4px;
	margin-bottom: 6px;
}

.currently-in-view {
	background-color: #777;
}

.section h2 {
	margin: 0 0 12px 0;
	color: #000;
}

.satellite {
	background-color: #111;
	padding: 12px;
	margin-bottom: 6px;
	border-radius: 4px;
}

.satellite-subtitle {
	float: right;
}

.inner-status {
	background-color: #111;
	padding: 12px;
	margin-bottom: 6px;
	border-radius: 4px;
	color: #aaa;
}

table.passes {
	width: 100%;
}

.passes th {
	background: #333;
	color: #000;
	padding: 2px;
}

.passes td {
	text-align: center;
	padding: 5px;
}

.passes tr.even {
	background: #000;
}

.passes {
	color: #777;
	font-family: sans, helvetica, arial;
	font-weight: normal;
	font-size: 14px;
}

.currently-in-view .passes tr {
	color: #aaaa00;
}

.upcoming-passes .passes tr.good, .upcoming-passes span.good {
	color: #00aa00;
}

.upcoming-passes .satellite-subtitle {
	color: #bbb;
}

.currently-in-view .satellite-subtitle {
	color: #dddd00;
}
